<style>
.partial-border mark {
	font-weight: normal;
	color: #333;
	background-color: #deebff;
	border: 1px solid #aecdff;
	padding: 0 3px;
	border-radius: 2px;
}
.partial-border {
    display: block;
    width: 100%;
    overflow: hidden;
	padding: 20px;
	background-color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d1d6d9;
	font-size: 16px;
	margin-bottom: 20px;
}
</style>  

<div class="stretch partial-border">
    <p>This partial is being stretched.</p>
    <p>If you look in the partial file called <mark>_stretch12.htm</mark> in the <mark>partials</mark> folder, it contains the <mark>class=&quot;stretch&quot;</mark></p>
</div>
