<h1>AJAX Tests</h1>

<!-- ############################################### -->
<h4>1) <a href="https://octobercms.com/docs/cms/ajax#data-attributes">"data-request-update"</a> - not working with widget partial</h4>

<div id="testimg-result-1">
    <?= $this->makePartial('testimg') ?>
</div>

<a href="javascript:;"
    class="btn btn-primary"
    data-request="<?= $this->getEventHandler('onUpdateImage') ?>"
    data-request-update="testimg: '#testimg-result-1'">
    1) Test "data-request-update" 
</a>


<!-- ############################################### -->
<h4>2) <a href="https://octobercms.com/docs/cms/ajax#pushing-content-updates">"Pushing Content Update"</a> - working just fine</h4>

<div id="testimg-result-2">
    <?= $this->makePartial('testimg') ?>
</div>

<a href="javascript:;"
    class="btn btn-primary"
    data-request="<?= $this->getEventHandler('onUpdateImageCorrectly') ?>">
    2) Test "Pushing Content Update"
</a>


<!-- ############################################### -->
<h4>3) "data-request-update" - only works with controller partials</h4>

<div id="testimg-result-3">
    <?= $this->makePartial('testimg') ?>
</div>

<a href="javascript:;"
    class="btn btn-primary"
    data-request="<?= $this->getEventHandler('onUpdateImage') ?>"
    data-request-update="testimg_controller: '#testimg-result-3'">
    3) Test "data-request-update"
</a>