<!-- Checkbox List -->
<div class="form-group checkboxlist-field span-left">
    <label>Checkbox list (hard-coded) example</label>
    <div class="field-checkboxlist">
        <!-- Quick selection (start) -->
        <div class="checkboxlist-controls">
            <a href="javascript:;" class="btn btn-primary" data-field-checkboxlist-all>Select all</a>
            <a href="javascript:;" class="btn btn-primary" data-field-checkboxlist-none>Select none</a>
        </div>
        <!-- Quick selection (end) -->
        <p class="help-block before-field">What cars would you like in your garage?</p>
        <div class="checkbox custom-checkbox" tabindex="0">
            <input id="checkbox-example1" name="checkbox" value="1" type="checkbox" checked="checked" aria-checked="true" />
            <label class="choice" for="checkbox-example1"> Dodge Viper </label>
            <p class="help-block">Do not send new comment notifications.</p>
        </div>
        <div class="checkbox custom-checkbox" tabindex="0">
            <input checked="checked" id="checkbox-example2" name="checkbox" value="2" type="checkbox" aria-checked="false" />
            <label class="choice" for="checkbox-example2"> GM Corvette </label>
            <p class="help-block">Send new comment notifications only to post author.</p>
        </div>
        <div class="checkbox custom-checkbox" tabindex="0">
            <input id="checkbox-example3" name="checkbox" value="3" type="checkbox" aria-checked="mixed" />
            <label class="choice" for="checkbox-example3"> Porsche Boxter </label>
            <p class="help-block">Notify all users who have permissions to receive blog notifications.</p>
        </div>
    </div>
</div>
